.fighter-preview___root {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
}

.fighter-preview___right {
    align-items: flex-start;
}

.fighter-preview___left {
    align-items: flex-end;
}

.fighter-preview___right .fighter-preview___img {
    transform: scaleX(-1);
}

.fighter-preview___img {
    height: 300px;
    width: 250px;
}

.fighter-preview___name {
    align-self: center;
    text-align: center !important;
    font-size: 3em;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    color: #e2921b;
}

.fighter-preview___stats {
    background-color: #e2921b;
}

.fighter-preview___health, .fighter-preview___attack , .fighter-preview___defense {
    font-size: 1em;
    color: firebrick;
}
